* {
    /* user-select: none;
    -webkit-user-select: none; */
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: var(--smoky-black);
}

body::-webkit-scrollbar-thumb {
    border: 5px solid var(--smoky-black);
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 20px;
    box-shadow: inset 1px 1px 0 hsla(0, 0%, 100%, 0.11),
        inset -1px -1px 0 hsla(0, 0%, 100%, 0.11);
}

body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.15);
}

body::-webkit-scrollbar-button {
    height: 60px;
}

.tech {
    /* margin-bottom: 20px; */
}
.tech-title {
    margin-bottom: 20px;
}
.tech-item {
    min-width: 120px;
    scroll-snap-align: center;
    padding-bottom: 20px;
}
.tech-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* gap: 15px; */
    /* margin: 0 -15px;
    padding: 25px 15px;
    padding-bottom: 35px; */
    /* overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory; */
}
.tech-image {
    /* padding: 15px; */
    width: 60px;
    height: 60px;
}
.tech-text {
    color: var(--light-gray);
}

.input-wrapper-flex {
    display: flex;
    gap: 10px;
}

.user_msg {
    color: red;
}

.assistant_msg {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    color: white;
}

.chat-section {
    margin: 10px 0;
}
  .chat {
    display: flex;
    height: 100%;
    justify-content: center;
  }
  .user {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .user-input {
    margin-top: auto;
  }
  .user_prompt {
    display: flex;
    align-items: center;
    color: #fff;
  }
  .assistant_work {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .assistant_prompt {
    border-radius: 10px;
    padding: 10px;
    color: #fff;
  }

  .prompt {
    padding: 0 !important;
  }

  @media only screen and(min-width: 450px) {
    .title-prompt {
        font-size: var(--fs-8);
    }
  }
  @media (min-width: 580px) {
    .title-prompt {
        font-size: var(--fs-7);
    }
  }